<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <p>
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ '/archive' | prepend: site.baseurl }}">Archive</a></li> 
        <li><a href="{{ '/categories' | prepend: site.baseurl }}">Categories</a></li>        
       <li><a href="{{ '/apps' | prepend: site.baseurl }}">Apps</a></li>
       <li><a href="{{ '/books' | prepend: site.baseurl }}">Books</a></li>
       <li><a href="https://blog.hershbhasin.com">Personal Blog</a></li> 
       <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>   
       
       
     </ul>
    </p>
   
  </div>
</nav>
